fastapi
uvicorn[standard]

sqlalchemy
psycopg2-binary
pgvector

pydantic
python-dotenv

langchain
langchain-community
langchain-google-genai

google-generativeai

pypdf
pymupdf

sentence-transformers

alembic

python-multipart

httpx

matplotlib
graphviz

jinja2

pytest